<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-hover">
      <th><%= t "views.course.subject_name" %></th>
      <th><%= t "views.course.subject_content" %></th>
      <th></th>
      <th></th>
      <% @course_subjects.each do |course_subject| %>
        <tr>
          <td><%= course_subject.subject.name %></td>
          <td><%= course_subject.subject.content %> </td>
          <td>
            <% if current_user.load_user_subject_of(course_subject).start? %>
              <%= link_to t("finish"), user_subject_path(
                current_user.load_user_subject_of(course_subject),
                "user_subject[status]": :finish), method: :put %>
            <% end %>
          </td>
          <td></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
