<li>
  <h3><%= course.name %></h3>
  <p><%= course.content %></p>
  <%= link_to t("views.course.add_trainee"),
    admin_course_user_courses_path(course),
    class: "btn btn-lg btn-primary" %>
  <%= link_to t("edit"), edit_admin_course_path(course),
    class: "btn btn-lg btn-primary" %>
  <%= link_to t("delete"), admin_course_path(course),
    method: :delete, data: {confirm: t("confirm_delete")},
    class: "btn btn-lg btn-primary" %>
  <% if course.unfinish? %>
    <%= link_to t("finish"), admin_course_path(course, status: :finish),
      method: :put, class: "btn btn-lg btn-primary" %>
  <% elsif course.finish? %>
    <%= link_to t("unfinish"), admin_course_path(course, status: :unfinish),
      method: :put, class: "btn btn-lg btn-primary" %>
  <% end %>
</li>
