<%= form_for [:admin, @course] do |f| %>
  <div class="row">
    <%= render "shared/error_messages", object: @course %>
    <aside class="col-md-5">
      <h1> <%= t "views.course.course"%> </h1>
      <section class="user_info">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control",
          required: true %>
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control",
          required: true %>
        <%= f.label :start_date %>
        <%= f.date_field :start_date,
          class: "form-control", required: true %>
        <%= f.label :end_date %>
        <%= f.date_field :end_date,
          class: "form-control", required: true %>
        <br>
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      </section>
    </aside>
    <div class="col-md-3">
      <h1> <%= t "views.course.subject"%></h1><br />
      <%= f.collection_check_boxes :subject_ids,
        @subjects, :id, :name do |subject| %>
      <div class="row">
        <%= subject.label do %>
          <%= subject.check_box %>
          <%= subject.text %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
